@keyframes move12 {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -360deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -360deg)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes rollIn1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 360deg);
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 360deg)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.rollIn {
    -webkit-animation-name: rollIn;
    animation-name: rollIn
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(1.4, 1.4, 1.4)
    }
    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.9, .9, .9)
    }
    50% {
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

* {
    margin: 0;
    padding: 0;
    list-style: none
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden
}

@-webkit-keyframes rotateOut {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 500deg);
        transform: rotate3d(0, 0, 1, 500deg);
        opacity: 0
    }
}

@keyframes rotateOut {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: .7
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 500deg);
        transform: rotate3d(0, 0, 1, 500deg);
        opacity: 1
    }
}

.rotateOut {
    -webkit-animation-name: rotateOut;
    animation-name: rotateOut
}

.page-wrap {
    width: 100%;
    height: 100%;
    font-size: .48rem;
    font-weight: 100;
    color: darkgreen
}

.page-wrap .playBtn {
    position: fixed;
    right: .66666667rem;
    top: .66666667rem;
    background: url('../img/music.svg') no-repeat center center;
    background-size: contain;
    width: 1.33333333rem;
    height: .93333333rem;
    animation: move12 1s infinite linear;
    animation-play-state: running;
    z-index: 100
}

.page-wrap .inner_app .bg_right {
    position: relative;
    right: -2rem;
    top: -0.93333333rem;
    width: 9.33333333rem;
    height: 9.33333333rem;
    animation: zoomIn 3s linear
}

.page-wrap .inner_app .bg_right img {
    width: 110%
}

.page-wrap .inner_app .bg_left {
    position: relative;
    left: -1.33333333rem;
    top: 1.33333333rem;
    width: 9.33333333rem;
    height: 9.33333333rem;
    animation: zoomIn 3s linear
}

.page-wrap .inner_app .bg_left img {
    width: 110%
}

.page-wrap .inner_app .header_title {
    font-size: .4rem;
    position: absolute;
    left: 3.33333333rem;
    top: 1.33333333rem
}

.page-wrap .inner_app .enter_img {
    position: absolute;
    left: 1.06666667rem;
    top: 1.6rem;
    background: url('../img/enter.webp') no-repeat;
    background-size: 100%;
    width: .66666667rem;
    height: .66666667rem;
    z-index: 100;
    animation: fadeInLeft 1s 2s linear
}

.page-wrap .inner_app .enter_img2 {
    position: absolute;
    left: 1.06666667rem;
    top: 7.2rem
}

.page-wrap .inner_app .enter_img3 {
    position: absolute;
    left: 1.06666667rem;
    top: 9.33333333rem
}

.page-wrap .inner_app .title_gr {
    font-size: .53333333rem;
    position: absolute;
    left: 2rem;
    top: 1.33333333rem;
    font-weight: 200
}

.page-wrap .inner_app .img_box {
    width: 1.33333333rem;
    height: .93333333rem;
    overflow: hidden;
    position: absolute;
    left: .66666667rem;
    top: 2.66666667rem;
    animation: fadeIn 2s infinite linear
}

.page-wrap .inner_app .img_box img {
    width: 50%
}

.page-wrap .inner_app .img_box1 {
    width: 2.66666667rem;
    height: 1.33333333rem;
    position: absolute;
    right: -0.4rem;
    top: 7.6rem;
    animation: fadeIn 3s infinite linear
}

.page-wrap .inner_app .img_box1 img {
    width: 100%
}

.page-wrap .inner_app .img_box2 {
    width: .66666667rem;
    height: .66666667rem;
    position: absolute;
    top: 10rem;
    left: 4rem;
    animation: fadeIn 6s 2s infinite linear
}

.page-wrap .inner_app .img_box2 img {
    width: 50%
}

.page-wrap .inner_app .img_box3 {
    width: .93333333rem;
    height: .8rem;
    position: absolute;
    top: 8rem;
    left: 2.66666667rem;
    animation: fadeIn 5s infinite linear
}

.page-wrap .inner_app .img_box3 img {
    width: 50%
}

.page-wrap .inner_app .img_box4 {
    width: 2.66666667rem;
    height: 2.66666667rem;
    position: absolute;
    top: 11.33333333rem;
    left: 6.53333333rem;
    animation: rotateOut 4s 4s linear
}

.page-wrap .inner_app .img_box4 img {
    width: 100%
}

.page-wrap .inner_app .main_box .qz_box {
    position: absolute;
    top: 3.2rem;
    left: 2.66666667rem;
    background: url('../img/qz.webp') no-repeat 150% -10%;
    background-size: contain;
    width: 4.26666667rem;
    height: 2.26666667rem;
    animation: rollIn .7s 1 1s linear
}

.page-wrap .inner_app .main_box .qz_box div {
    float: right;
    width: 50%;
    height: 100%;
    background: url('../img/round.webp') no-repeat 150% -10%;
    background-size: contain;
    animation: fadeIn 1s 3 linear
}

.page-wrap .inner_app .main_box .jl_box {
    position: absolute;
    top: 5.6rem;
    left: 2.66666667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/jl.webp') no-repeat 150% -10%;
    background-size: contain;
    width: 4.26666667rem;
    height: 2.26666667rem;
    animation: rollIn1 .8s 2s linear
}

.page-wrap .inner_app .main_box .jl_box div {
    width: 55%;
    height: 100%;
    background: url('../img/resume.webp') no-repeat right center;
    background-size: contain;
    animation: fadeIn 1s 1s linear
}

.page-wrap .inner_app .main_box .writing {
    position: absolute;
    top: 8.66666667rem;
    left: 4rem;
    line-height: 1.33333333rem;
    text-align: center
}

.page-wrap .inner_app .main_box .writing .writing-w {
    width: 1.33333333rem;
    background: url('../img/round.webp') no-repeat center center
}

.page-wrap .inner_app .main_box .writing li:nth-child(3) {
    background: green;
    border-radius: 50%;
    color: aliceblue
}

.page-wrap .inner_app .main_box .writing_jj {
    position: relative;
    left: 4.66666667rem;
    top: -16rem;
    width: 4rem;
    height: 5.33333333rem;
    line-height: .73333333rem;
    font-size: .4rem;
    font-weight: 200;
    text-align: center
}

.page-wrap .inner_app .main_box .introduce_j {
    position: absolute;
    left: 2rem;
    top: 7.06666667rem;
    line-height: .53333333rem;
    font-size: .34666667rem;
    font-weight: 200;
    text-align: center
}

.page-wrap .inner_app .main_box .name {
    position: absolute;
    bottom: .93333333rem;
    left: 4.26666667rem;
    line-height: .93333333rem
}

.page-wrap .inner_app .main_box .photo {
    position: absolute;
    left: .93333333rem;
    top: 2.66666667rem;
    width: 3.33333333rem;
    height: 4rem;
    background: url(../img/lei.jpg) no-repeat center center;
    background-size: 100%
}